body {
  font: 30px "";
  margin: 30px;
  background-color: rgb(171, 168, 168);

}


.board-row:after {
  clear: both;
  content: "";
  display: table;

}



.square {
  background: rgb(171, 168, 168);
  border: 1.5px solid black;
  float: left;
  font-size: 80px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}



.game {
  width: fit-content;
  margin: auto;
}


.game-info {
  color: rgb(106, 43, 242);
}

.button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(177, 123, 177);
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px #e4e2e2;
  margin-right: 5px;
}

.button:hover {
  background-color: rgb(177, 123, 177);
}

.button:active {
  display: inline-block;
  padding: 5px 10px;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(177, 123, 177);
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px #e4e2e2;
  margin-right: 5px;
  
}
.status{
  color: rgb(30, 7, 13);
  margin: 10px;
  text-align: center;
}
