
body {
  font: 30px "";
  margin: 30px;
  
}

ol,
ul {
  padding-left: 50px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
  
}

.status {
  margin-bottom: 5px;
}

.square {
  background: white;
  border: 1.5px solid black;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}



.game {
  width: fit-content;
  margin: auto;
}

.game-info {
  color: rgb(106, 43, 242);
}
button {
  background-color: white;
  color: black;
}

button.active {
  background-color: rgb(22, 172, 222);
  margin-right:5% ;
}
button.reset{
  background-color: rgb(247, 139, 158);
  margin-left: 20%  
}
