
body {
  font: 30px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 50px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #9ad8f0;
  border: 1px solid #999;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.square:focus {
  outline: none;
}


.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  color: rgb(213, 42, 3);
}

